/* =========Fonts======== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* =======Common Css========= */

body {
    margin: 0;
    padding: 0;
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 870px;
    background-color: #FFFFFF;
    padding: 40px;
    margin-top: 40px;
}

main {
    display: flex;
    justify-content: center;
}

hr {
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}


/* ======Hero Area Stylesheet====== */

.Player-title {
    color: #562EFF;
    margin-top: 3px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player-name {
    margin-left: 16px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}


/*============================= 

===========Top Blogs Area===========

================================*/

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog a {
    text-decoration: none;
}

.blog-author:hover a {
    text-decoration: underline;
}

.blog-author:hover p {
    text-decoration: none;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog .blog-title {
    color: black;
}

.blog .blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    color: blue;
}